In [1]:
# Dependencie
import pandas as pd

In [2]:
# Load in file
corruption_file = "corruption_Version_one.csv"

In [3]:
# Read and display the CSV with Pandas
corruption_df = pd.read_csv(corruption_file)
del corruption_df ["Unnamed: 0"]
corruption_df.head()

,Country,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Afghanistan,-,-,-,-,-,-,-,2.5,-,1.8,1.5,1.3,1.4,1.52,8,8,12,11
1,Albania,-,2.3,-,-,2.5,2.5,2.5,2.4,2.6,2.9,3.4,3.2,3.3,3.05,33,31,33,36
2,Algeria,-,-,-,-,-,2.6,2.7,2.8,3.1,3,3.2,2.8,2.9,2.9,34,36,36,36
3,Angola,-,-,1.7,-,1.7,1.8,2,2,2.2,2.2,1.9,1.9,1.9,2.01,22,23,19,15
4,Argentina,3,3,3.5,3.5,2.8,2.5,2.5,2.8,2.9,2.9,2.9,2.9,2.9,3,35,34,34,32

In [4]:
# corruption_file_df["Jurisdiction"] = corruption_file_df["Jurisdiction"].replace({ 
#     "Bosnia and Herzgegovina":"Bosnia and Herzegovina", 
#     "Bosnia & Herzegovina": "Bosnia and Herzegovina", 
#     "Congo Democratic Republic":"Democratic Republic of the Congo", 
#     "Congo. Democratic Republic":"Democratic Republic of the Congo",
#     "Democratic Republic of Congo":"Democratic Republic of the Congo",
#     "Congo Brazzaville":"Republic of the Congo",
#     "Congo-Brazzaville":"Republic of the Congo",
#     "Congo Republic":"Republic of the Congo",
#     "Congo  Republic":"Republic of the Congo",
#     "Congo. Republic":"Republic of the Congo",
#     "Congo Republic of":"Republic of the Congo",
#     "Congo. Republic of":"Republic of the Congo",
#     "Congo Republic of the":"Republic of the Congo",
#     "CÃ´te dÂ´Ivoire":"CÃ´te d'Ivoire",  
#     "CÃ´te-d'Ivoire": "CÃ´te d'Ivoire",
#     "Cote dÂ´Ivoire":"CÃ´te d'Ivoire", 
#     "Cote d'Ivoire":"CÃ´te d'Ivoire",
#     "Ivory Coast":"CÃ´te d'Ivoire",
#     "Dominican Rep": "Dominican Republic",
#     "Dominican Rep.": "Dominican Republic",
#     "Kuweit": "Kuwait",
#     "Macedonia (Former Yugoslav Republic of)":"Macedonia",
#     "Sao Tome & Principe": "Sao Tome and Principe",
#     "Serbia & Montenegro": "Serbia and Montenegro",
#     "Trinidad & Tobago": "Trinidad and Tobago",
#     "Viet am": "Vietnam"
# })
# corruption_file_df.head()

In [5]:
corruption_df["Country"].value_counts()

Ethiopia                  1
Nigeria                   1
Iceland                   1
Costa Rica                1
Tajikistan                1
Zimbabwe                  1
Swaziland                 1
Sudan                     1
Cambodia                  1
Grenada                   1
Malta                     1
Oman                      1
Singapore                 1
Haiti                     1
Guyana                    1
Spain                     1
Hong Kong                 1
South Sudan               1
Lebanon                   1
Finland                   1
Bahamas                   1
Liberia                   1
Colombia                  1
Yugoslavia                1
Fiji                      1
Switzerland               1
Rwanda                    1
Philippines               1
Barbados                  1
Serbia                    1
                         ..
United Kingdom            1
Chad                      1
Puerto Rico               1
Algeria                   1
Poland                    1
Kuwait                    1
Georgia                   1
Zambia                    1
Sao Tome and Principe     1
Latvia                    1
Malawi                    1
Nepal                     1
Japan                     1
Greece                    1
Kiribati                  1
Morocco                   1
Maldives                  1
South Korea               1
Croatia                   1
Bulgaria                  1
Turkmenistan              1
Brunei                    1
Ireland                   1
Angola                    1
Saudi Arabia              1
Italy                     1
Djibouti                  1
Bosnia and Herzegovina    1
Brazil                    1
Dominican Republic        1
Name: Country, Length: 190, dtype: int64

In [6]:
corruption_df.to_csv("corruption_Version_two.csv")
corruption_df.head()

,Country,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Afghanistan,-,-,-,-,-,-,-,2.5,-,1.8,1.5,1.3,1.4,1.52,8,8,12,11
1,Albania,-,2.3,-,-,2.5,2.5,2.5,2.4,2.6,2.9,3.4,3.2,3.3,3.05,33,31,33,36
2,Algeria,-,-,-,-,-,2.6,2.7,2.8,3.1,3,3.2,2.8,2.9,2.9,34,36,36,36
3,Angola,-,-,1.7,-,1.7,1.8,2,2,2.2,2.2,1.9,1.9,1.9,2.01,22,23,19,15
4,Argentina,3,3,3.5,3.5,2.8,2.5,2.5,2.8,2.9,2.9,2.9,2.9,2.9,3,35,34,34,32