In [1]:
# Dependencie
import pandas as pd

In [2]:
# Load in file
md_file = "Medical_doctors_per_10000.csv"
# Read and display the CSV with Pandas
medical_doctors_df = pd.read_csv(md_file)
medical_doctors_df.head()

,Country,Year,Medical doctors (per 10 000 population),Medical doctors (number)
0,Afghanistan,2016,2.840,9842
1,Afghanistan,2015,2.907,9808
2,Afghanistan,2014,3.039,9954
3,Afghanistan,2013,2.894,9184
4,Afghanistan,2012,2.450,7521

In [3]:
country_file = "country_codes.csv"
country_codes_df = pd.read_csv(country_file)
country_codes_df.head()

,Unnamed: 0,Country,POPULATION,AREA KM2,GDP $USD,country_code,Country_Code
0,0,Afghanistan,29121286,647500,20.65 Billion,AF,AFG
1,1,Albania,2986952,28748,12.8 Billion,AL,ALB
2,2,Algeria,34586184,2381740,215.7 Billion,DZ,DZA
3,3,American Samoa,57881,199,462.2 Million,AS,ASM
4,4,Andorra,84000,468,4.8 Billion,AD,AND

In [7]:
doctors_df = medical_doctors_df.merge(country_codes_df, how="inner", on =["Country", "Country"])
del doctors_df["Unnamed: 0"]
del doctors_df["POPULATION"]
del doctors_df["AREA KM2"]
del doctors_df["GDP $USD"]
del doctors_df["country_code"]
doctors_df =  doctors_df[["Country", "Country_Code", "Year", "Medical doctors (number)", "Medical doctors (per 10 000 population)"]]
doctors_df.head()

,Country,Country_Code,Year,Medical doctors (number),Medical doctors (per 10 000 population)
0,Afghanistan,AFG,2016,9842,2.840
1,Afghanistan,AFG,2015,9808,2.907
2,Afghanistan,AFG,2014,9954,3.039
3,Afghanistan,AFG,2013,9184,2.894
4,Afghanistan,AFG,2012,7521,2.450

In [8]:
doctors_df.to_csv("Output_data/md_per_10000.csv")
doctors_df.head()

,Country,Country_Code,Year,Medical doctors (number),Medical doctors (per 10 000 population)
0,Afghanistan,AFG,2016,9842,2.840
1,Afghanistan,AFG,2015,9808,2.907
2,Afghanistan,AFG,2014,9954,3.039
3,Afghanistan,AFG,2013,9184,2.894
4,Afghanistan,AFG,2012,7521,2.450